/* overriding bootstrap styling */
.row {
    --bs-gutter-x: 0rem;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.navbar-toggler {
    background-color: #faf1e6ff;
    border-radius: 10px;
    font-size: 1rem;
}